<app-sidebar></app-sidebar>
<main class="flex-1 ml-68 min-h-screen flex flex-col">
  <!-- TopAppBar (Authority Source: JSON) -->
  <app-header></app-header>
  <!-- Content Area -->
  <div class="p-8 space-y-8 max-w-7xl mx-auto w-full">
    <!-- Page Header -->
    <div class="flex flex-col md:flex-row md:items-end justify-between gap-4">
      <div>
        <h2 class="text-3xl font-bold tracking-tight text-primary font-headline ">User Management</h2>
        <p class="text-slate-500 body-md">Manage institutional access and administrative roles across the university .</p>
      </div>
      <div class="flex items-center gap-3">
        <button (click)="isManageRolesModalOpen = true" class="flex items-center gap-2 px-5 py-2.5 bg-secondary-container text-white rounded-lg text-sm font-bold shadow-sm hover:opacity-90 transition-all active:scale-95">
          <span class="material-symbols-outlined text-lg">admin_panel_settings</span>
          Roles
        </button>
        <button (click)="isAddUserModalOpen = true" class="flex items-center gap-2 px-5 py-2.5 bg-primary-container text-white rounded-lg text-sm font-bold shadow-sm hover:opacity-90 transition-all active:scale-95">
          <span class="material-symbols-outlined text-lg">add</span>
          Add New User
        </button>
      </div>
    </div>
    @if(isAddUserModalOpen) {
      <app-add-user (closeModal)="isAddUserModalOpen = false" (createUser)="onCreateUser($event)" [rolesList]="rolesList"  ></app-add-user>
    }
    @if(isManageRolesModalOpen) {
      <app-manage-roles [rolesList]="rolesList" (closeModal)="isManageRolesModalOpen = false" (createRole)="onCreateRole($event)" (updateRole)="onUpdateRole($event)" (deleteRole)="onDeleteRole($event)"></app-manage-roles>
    }

    <!-- Stats Bar  -->
    <app-statistics [statistics]="userStats" ></app-statistics>
    <!-- Main Table Section -->
    <app-users-data [userss]="users" (roleChange)="getRole($event)" (keywordChange)="getKeyword($event)"
    (statusSelected)="onStatusSelected($event)" (sizeSelected)="onSizeSelected($event)" (pageSelected)="OnSelectedPage($event)"
    (statusChanged)="onStatusChanged($event) " (userDeleted)="onUserDeleted($event)" (userUpdated)="onUserUpdated($event)"
    (bulkDeleteEvent)="onBulkDelete($event)" (bulkStatusEvent)="onBulkStatusChanged($event)"
    [roleList]="rolesList"></app-users-data>
  </div>

</main>
